name: Azure Static Web Apps CI/CD (gray-pond)

on:
  push:
    branches:
      - main
      - swa-net8
      - features/*
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - features/*

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      # - name: Build Blazor WASM App
      #   run: dotnet publish ./Blazor.YouTubeDownloader/Blazor.YouTubeDownloader.csproj -c Release -o bin
      
      # - name: Build API
      #   run: dotnet publish ./Blazor.YouTubeDownloader.Api/Blazor.YouTubeDownloader.Api.csproj -c Release
      
      - name: Install SWA CLI
        run: npm install -g @azure/static-web-apps-cli

      # Deploy to Azure Static Web Apps using SWA CLI
      - name: Deploy to Azure Static Web Apps
        env:
          SWA_CLI_DEPLOYMENT_TOKEN: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_POND_0AC641403 }}
        run: swa deploy

      - name: Build And Deploy
        if: false
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_POND_0AC641403 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "Blazor.YouTubeDownloader" # App source code path
          api_location: "Blazor.YouTubeDownloader.Api" # Api source code path - optional
          output_location: "wwwroot" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_POND_0AC641403 }}
          action: "close"
